.sort__popup {
    z-index: 100;
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;
}
.sort__popup ul {
    overflow: hidden;
}
.sort__popup ul li {
    padding: 12px 20px;
    cursor: pointer;
}
.sort__popup ul li.active,
.sort__popup ul li:hover {
    background: #668fff17;
}
.sort__popup ul li.active {
    font-weight: bold;
    color: var(--main-color-theme);
}
.none {
    display: none !important;
}
