.model-block {
    width: 360px;
    height: 490px;
    text-align: center;
    cursor: pointer;
    padding-top: 35px;

    transition: all 0.3s;
}
.model-block:hover {
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.1);
}

.model-block__badges {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 7px;
    margin-bottom: 25px;
}
.model-block__badges__badge {
    color: white;
    font-weight: 600;
    font-size: 12px;
    padding: 5px;
    border-radius: 7px;
    position: relative;
}
.model-block__badges__badge:not(:last-child) {
    margin-right: 25px;
}
.model-block__badges__badge:not(:last-child)::after {
    content: '';
    background-color: #d5d3da;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: -15px;
    top: 9px;
}
.model-block__badges__guarantee {
    background-color: #6dc7ef;
}
.model-block__badges__new {
    background-color: #2ad8d2;
}
.model-block__image {
    width: 150px;
    height: 200px;
}
.model-block__image__wider {
    width: 195px !important;
}
.model-block__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
}
.model-block__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.model-block__price {
    font-weight: bold;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.015em;
}
.button__card {
    position: relative;
    width: 150px;
    border-radius: 10px !important;
    background-color: #668fff !important;

    transition: all 0.6s !important;
}
.button__card:active {
    top: 1px;
    background-color: #235cfb !important;
}
.model-block:hover .button__card {
    background-color: #3569f8 !important;
    transition: 0.3s;
}

@media (max-width: 770px) {
    .model-block {
        width: 230px;
        height: 380px;
        text-align: center;
    }
}
