@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&display=swap');
@font-face {
    font-weight: 600;
    font-family: 'Graphik';
    src: url(./../assets/fonts/Graphik-Medium.ttf);
}

.model__left_part,
.model__right_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.model__right_part {
    width: 30%;
    padding: 0 30px;
}

.model_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: relative;
    gap: 50px;
}

.model_wrapper::before {
    content: '';
    width: 98%;
    height: 1.2px;
    background-color: black;
    opacity: 0.05;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 8px;
}

.model_image__part {
    display: flex;
    align-items: center;
    gap: 15px;
}

.model_image__part__wrapper {
    max-width: 300px;
}

.model_image__header {
    font-weight: 700;
    font-family: 'Graphik';
    font-size: 20px;
}

.model_image__descr {
    font-family: 'Noto Sans JP';
    font-size: 14px;
    max-width: 250px;
    opacity: 0.6;
}

.cart__counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.counter__value {
    font-family: 'Graphik';
    font-weight: 600;
    font-size: 18px;
}

.price {
    font-family: 'Graphik';
    font-weight: 600;
    font-size: 18px;
}

.changed_opacity {
    opacity: 0.3 !important;
}

img {
    cursor: pointer;
}
