.model-block__badges {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 7px;
}
.model-block__badges__badge {
    color: white;
    font-weight: 600;
    font-size: 11px;
    padding: 2px 9px 5px 9px;
    border-radius: 4px;
    position: relative;
}
.model-block__badges__badge:not(:last-child) {
    margin-right: 25px;
}
.model-block__badges__badge:not(:last-child)::after {
    content: '';
    background-color: #d5d3da;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: -15px;
    top: 9px;
}
.model-block__badges__guarantee {
    background-color: #6dc7ef;
}
.model-block__badges__new {
    background-color: #2ad8d2;
}
