@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&display=swap');

:root {
    --main-color-theme: #668fff;
    --main-color-theme-hover: #4274ff;
    --main-color-theme-active: #1f5afc;
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: 'Noto Sans JP', Roboto, system-ui, Tahoma, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #232323;
    background-color: var(--main-color-theme);
}
a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
    color: #232323;
}
h1 {
    font-size: 48px;
}
h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
}
a {
    text-decoration: none;
}
.button {
    display: inline-block;
    background-color: var(--main-color-theme);
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border: 1px solid transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
    font-size: 16px;
}
.button,
.button span {
    color: #fff;
}
.button:hover {
    background-color: var(--main-color-theme-hover);
}
.button:active {
    background-color: var(--main-color-theme-active);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}
.button--cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 23px;
    padding: 12px 25px;
    margin-right: 8px;
    column-gap: 10px;
}
.cart__separator {
    width: 1.2px;
    height: 18px;
    background-color: white;
}
.header__cart__rightPart {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
}
.button__cart__img {
    margin-left: 20px;
    margin-top: 2px;
}
.button--cart span {
    font-weight: 500;
    font-size: 16px;
    position: relative;
}
.sort {
    position: relative;
}
.sort__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sort__label svg {
    margin-right: 8px;
}
.sort__label b {
    margin-right: 8px;
}
.sort__label span {
    color: var(--main-color-theme);
    border-bottom: 1px dashed var(--main-color-theme);
    cursor: pointer;
}
#root {
    width: calc(100vw - 100px);
    height: 100%;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 1400px;
}
.search_input__input {
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 9px 0px 9px 35px;
    width: 0;
    opacity: 0;
    position: relative;

    transition: all 0.4s linear;
}

.search_input__input::placeholder {
    color: black;
}
.content {
    padding: 40px 0;
}
.search_input_wrapper {
    position: relative;
    cursor: pointer;
}
.search_input__image {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
    opacity: 0.7;
}
.search_input__close {
    font-size: 18px;
    font-weight: normal;
    font-family: 'Open Sans';
    position: absolute;
    top: 4px;
    opacity: 0.7;
    right: 10px;
}
.search_input__close:hover {
    opacity: 1;
}
.content__title {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}
.content__items {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    justify-items: center;

    height: auto;
}
@media (max-width: 1060px) {
    .content__items {
        grid-template: auto / repeat(2, 1fr);
    }
}
.container {
    width: 90%;
    margin: 0 auto;
}

.popup__wrapper {
    padding: 10px 20px;
    box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.6);
    font-family: 'Noto Sans JP';
    font-weight: 400;

    font-size: 18px;

    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

.popup__wrapper__cart_ref {
    text-decoration: dotted;
    color: #1f5afc;
}
