@font-face {
    font-family: 'Graphik';
    src: url('./../assets/fonts/Graphik-Semibold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Graphik';
    src: url('./../assets/fonts/Graphik-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Graphik';
    src: url('./../assets/fonts/Graphik-Regular.ttf');
    font-weight: 400;
}

.model_wrapper {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

p {
    color: white;
}

.model__main_block {
    display: flex;
}

.model__left_side,
.model__right_side {
    position: relative;

    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.model__right_side {
    row-gap: 30px;
}

.bigger__part {
    height: 760px;
    width: 650px;
    margin-bottom: 30px;
}

.model__left_side {
    padding-top: 50px;
    top: 100px;
    position: sticky;
    flex-direction: row-reverse;
    justify-content: start;
    flex-grow: 3;
    height: auto;
    max-width: 650px;
}

.model__image {
    height: 400px;
}

.model__header {
    font-size: 26px;
    font-weight: 600;
    max-width: 380px;
}

.model__selector {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 15px;
    font-weight: 500;
}

.model__selector__header {
    font-size: 16px;
    font-weight: 600;
    width: 100px;
}

.model__selector__checkbox {
    padding: 7px 20px;
    font-size: 15px;
    font-weight: 700;
    border: 1.6px solid rgba(128, 128, 128, 0.35);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    cursor: pointer;
}

.header_and_badges {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.model__selector__checkbox_current {
    border: 2px solid #668fff;
}

.br {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
}

.price__block {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.current_price {
    font-family: 'Graphik';
    font-weight: 600;
    font-size: 30px;
    font-weight: 800;
}

/* buttons */

.models_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.model__button {
    position: relative;
    z-index: 100;
    border: none;
    width: 100%;
    padding: 13px;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
    background-color: #668fff;
    cursor: pointer;

    transition: all 0.3s;
}

.bottom__part_price {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.model__button__text {
    color: white;
    box-shadow: 0px 40px 100px #4676fc, 0px 40px 120px #4676fc, 0px 40px 160px #4676fc,
        0px 30px 80px #4676fc;
}

.button_add_to_cart::before {
    content: '';
    position: absolute;
    left: -40px;
    top: 0;
    width: 15px;
    height: 100%;
    transform: skewX(-10deg);
    background-color: #ffffff71;
    box-shadow: 0px 0px 20px #ffffff71, 0px 0px 30px #ffffff71;
    opacity: 70%;
    animation: button_effect 4s linear infinite;
}

.discount {
    opacity: 0.5;
    font-size: 15px;
}

.model__button:hover {
    background-color: #4f7efd;
    box-shadow: 0px 0px 20px #4274ff5e;
}

.model__button:hover .model__button__text {
    box-shadow: 0px 20px 100px #4676fc, 0px 20px 120px #4676fc, 0px 40px 160px #4676fc,
        0px 60px 180px #4676fc;
}

@keyframes button_effect {
    0% {
        left: -40px;
    }
    20% {
        left: calc(100% + 40px);
    }
    100% {
        left: calc(100% + 40px);
    }
}

.button_black_model {
    padding: auto;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    z-index: 1;
}

.button_black_model:hover {
    background-color: black;
    box-shadow: 0px 0px 20px #1b1b1c3f;
}

.button_black_model__image {
    position: relative;
    top: 2px;
}

/* U may like block */

.recommended__header {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.сharactericstics__header {
    font-size: 30px;
    font-weight: 600;
    margin: 40px 0 20px 0;
}

/* Характеристики */

.character__info__wrapper {
    display: flex;
    margin-bottom: 25px;
}

.character__info__title {
    font-size: 18px;
    font-weight: 600;
    width: 200px;
}

.character__info__left,
.character__info__right {
    flex-grow: 10;
}

.character__info__right {
    flex-grow: 11;
    display: flex;
    flex-direction: column;
}

.character__info__descr__wrapper {
    position: relative;
    display: flex;
    padding-bottom: 30px;
    padding-left: 10px;
    column-gap: 110px;
}

.character__info__descr__wrapper:not(:first-child) {
    padding-top: 30px;
}

.character__info__descr__wrapper::after {
    content: '';
    width: 100%;
    height: 1.2px;
    border-radius: 2px;
    background-color: #e8e8ed;
    position: absolute;
    bottom: 1px;
}

.character__info__descr__header {
    font-weight: 500;
    width: 200px;
}

.item_memory {
    list-style: disc;
    margin-bottom: 10px;
}

.item_memory:last-child {
    margin-bottom: 0;
}

.character__info__descr__inner {
    font-weight: 500;
    min-width: 500px;
}

.capitalize {
    text-transform: capitalize;
}

/* swiper */

.mySwiper {
    width: 100px;
    height: 395px;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.swiper-slide {
    border-radius: 10px;
    text-align: center;
    height: 89px !important;
    width: 90px !important;
}

.swiper-slide-active {
    border: 2px solid #668fff;
}

/* deliver block */

.deliver__product {
    width: 100%;
    height: auto;
    padding: 24px 36px;
    background-color: #f5f5fa;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    cursor: default;
}

.discount__product__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount__product {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.discount__product__info_block__main {
    font-size: 14px;
    font-weight: 600;
}

.discount__product__info_block__descr {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.7;
}

.mySwiper2 {
    height: auto;
    width: 85%;
}

.swiper-slide2 {
    border-radius: 10px;
    text-align: center;
    height: auto !important;
    width: auto !important;
}

.s-button-next2,
.s-button-prev2 {
    background-image: url('https://cdn.icon-icons.com/icons2/1993/PNG/512/arrows_chevron_direction_left_move_next_right_icon_123222.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    right: 70px;
}

.s-button-prev2 {
    transform: rotate(180deg);
    right: 0;
    left: 70px;
}

.s-button-next2::before,
.s-button-prev2::before {
    content: '';
    border-radius: 50%;
    background-color: rgba(234, 234, 234, 0.5);
    height: calc(100% + 13px);
    left: -7px;
    top: -7px;
    position: absolute;
    width: calc(100% + 13px);

    transition: background-color 0.1s linear;
}

.s-button-next2:hover::before,
.s-button-prev2:hover::before {
    background-color: rgba(190, 190, 190, 0.5);
}

.swiper__bottom__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.skeletons__wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}
